body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    text-align: center;

}

.header-container {
    background-color: #1f2937;
    font-family: 'Roboto', sans-serif;
    color: #f9faf8;
    padding: 1rem;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 675px;
    max-width: 65%;
    margin: auto;
}

.main {
    display: flex;
    justify-content: center;
    gap: 200px;
    margin: auto;
    margin-top: 100px;
    text-align: left;
    max-width: 65%;
}

.main-text-container {
    display: flex;
    flex-direction: column;
    align-items: left;
    max-width: 425px;
    justify-content: center;
}

.main-button {
    background-color: #3882f6;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 10px 30px;
    font-size: 16px;
    cursor: pointer;
    max-width: 150px;
}

.card-container {
    display: flex;
    justify-content: center;
    margin: auto;
    gap: 100px;
    max-width: 65%;
}

.card img {
    border: #3882f6 solid 2px;
    border-radius: 8px;
    max-width: 250px;
}

.text-wrapper {
    display: flex;
    justify-content: center;
    gap: 108px;
    max-width: 65%;
    margin: auto;
}

.text-wrapper p {
    font-size: 18px;
    max-width: 250px;
}

.quote {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #e5e7eb;

}

.quote p {
    font-size: 36px;
    color: #1f2937;
    font-weight: 300;
    max-width: 55%;
    text-align: left;
}

.quote .thor {
    margin-top: 4px;
    font-size: 18px;
    font-weight: 700;
    color: #374151;
    /* max-width: 55%; */
    /* text-align: right; */
}

h1 {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
    margin: 10px 0;
    line-height: 1;
}

.main p {
    font-size: 18px;
    color: #e5e7eb;
    margin: 10px 0;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 16px;
    color: #e5e7eb;
}

a {
    text-decoration: none;
    color: #e5e7eb;
}

.action-container {
    margin: auto;
    max-width: 55%;
}

.action {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    padding: 5px 16px;
    background-color: #3882f6;
    border-radius: 8px;
}

.action p {
    color: white;
    text-align: left;
}

.action-button {
    background-color: #3882f6;
    color: white;
    border: white solid 2px;
    border-radius: 8px;
    padding: 10px 20px;
    height: 40px;
    margin: auto 16px;
    font-size: 16px;
    cursor: pointer;
}

.action-text {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    margin: 20px 400px 20px 40px;
}

.action .bold {
    font-weight: 900;
    font-size: 20px;
    margin: 0;
}

.footer {
    background-color: #1f2937;
    color: #f9faf8;
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 10px 0;
}